[Desktop Entry]
Type=Application
Name=CLion
Icon=clion
Comment=A cross-platform IDE for C and C++.
Exec=/opt/clion/bin/clion.sh %f
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-clion
