[Desktop Entry]
Type=Application
Name=PyCharm Professional Edition
Icon=pycharm-professional
Comment=The Python IDE for Professional Developers.
Exec=/opt/pycharm-professional/bin/pycharm.sh %f
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm
